<!DOCTYPE html>
<html>
<head>
    <title>Smart Expense Tracker</title>
</head>
<body>

    <h1>Smart Expense Tracker</h1>

    <div id="dashboard">

        <h2>Dashboard</h2>

        <div>
            <h3>Total Income</h3>
            <p id="income">Loading...</p>
        </div>

        <div>
            <h3>Total Expense</h3>
            <p id="expense">Loading...</p>
        </div>

        <div>
            <h3>Balance</h3>
            <p id="balance">Loading...</p>
        </div>

        <div>
            <h3>Top Category</h3>
            <p id="category">Loading...</p>
        </div>

    </div>

</body>
</html>